html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}
div {
    cursor: default;
}
hr {
    display: none;
}
.complete hr {
    display: block;
    position: absolute;
    top: 0px;
 
    width: 100%;
    height: 2px;
    background-color: black;
    border: none;
    outline: none;
    pointer-events: none;
}
button {
    cursor: pointer;
}
body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: white;
    height: 120px;
    font-size: 50px;
    padding-left: 50px;
}
.content {
    height: 100%;
    display: flex;
}
.sidebar {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(82, 82, 82);
    color: rgb(218, 218, 218);
    border-right: 2px solid black;
}

.todo-item {
    display: flex;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.checkbox {
    position: absolute;
    left: -27px;
}
.complete {
    opacity: 30%;
}
.inbox, .today, .week {
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}
.task-count-template {
    display: none;
}
.task-count-template svg {
    color: orange;
}
.projects-heading {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
    cursor: default;
}
.projects-container > div {
    padding-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.projects-container > div:hover {
    background-color: grey;
}
.dropdown {
    align-self: end;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    background: white;
}
.dropdown-content a {
    display: block;
}
.new-container {
    margin-top: 15px;
    width: 100%;
    
}
.new-project {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    border: none;
    padding-left: 20px;
    background-color: rgb(82, 82, 82);
}
.new-project > svg {
    color: green;
}
.new-project:hover {
    background-color: rgb(122, 122, 122);
}
#project-name-display {
    font-size: 22px;
    font-weight: bold;
}
.items-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#add-item {
    position: absolute;
}
.new-task-popup, .edit-task-popup {
    display: none;
    border: 1px solid black;
    border-radius: 8px;
    padding: 7px;
    position: absolute;
    left: 30%;
    top: 15%;
    flex-direction: column;
    gap: 15px;
    width: 320px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.418);
}
#title {
    margin-top: 10px;
    width: 270px;
}
#new-task-form, #edit-task-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
 
}
.description {
    height: 60px; 
    width: 272px;
}
.due-date-container {
    display: flex;
    gap: 10px;
    align-items: center;
}
.due-date-container input {
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}
.task-button-container {
    display: flex;
    justify-content: space-between;
}
.priority-container {
    display: flex;
    gap: 10px;
}
.priority-container label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}
.priority-container input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    cursor: pointer;
}
.priority-container input[type="radio"]:checked + label {
    border: 2px solid black;
}
label[for="low-button"], label[for="edit-low-button"] {
    background-color: yellow;
}
label[for="medium-button"], label[for="edit-medium-button"] {
    background-color: orange;
}
label[for="high-button"], label[for="edit-high-button"] {
    background-color: rgba(255, 0, 0, 0.774);
}
.close, .close-edit {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 3px;
    right: 3px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.project-display {
    display: none;
    padding: 20px;
    width: 100%;
    flex-direction: column;
    background-color: rgb(175, 175, 175);
}
.project-display-heading {
    display: flex;
    justify-content: space-between;
}
#add-item-button {
    padding-right: 3px;
    color: rgb(7, 145, 7);
    border: none;
    background-color: rgb(175, 175, 175);
}
#add-item-button:hover {
    color: rgba(94, 255, 0, 0.808);
}
.new-task-button {
    display: none;
}
.new-task-container {
    display: flex;
    align-items: center;
}
.sort-container {
    display: flex;
    gap: 10px;
    font-size: 12px;
}
 .sort-container > button:nth-child(-n + 3) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 65px;
    height: 26px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(175, 175, 175);

}
.remove-project-button-template {
    display: none;
}
.remove-project-button {
    color: rgb(190, 1, 1);
    background-color: rgb(175, 175, 175);
    border: none;
}
.remove-project-button:hover {
    color: rgb(252, 17, 17);
}
.selected-priority {
    background-color: red;
    color: white;
}
.edit-task-button, .delete-task-button {
    display: none;
}
.edit, .delete {
    display: flex;
    border: none;
}
button svg {
    pointer-events: none;
}

.item-buttons-container {
    justify-self: end;
    display: flex;
    gap: 30px;

}
.item-title {
    padding-left: 15px;
}
.add-project {
    display: none;
}
#add-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#add-project > input {
    height: 20px;
    width: 90%;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}
#add-project > div{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#submit {
    color:rgb(7, 145, 7);
}
#submit:hover {
}
#cancel {
    color:rgb(190, 1, 1);
    border: none;
    outline: none;
}
#submit, #cancel {
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
    cursor: pointer;
}
input[type="checkbox"] {
    cursor: pointer;
}